.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 293px));
  grid-auto-rows: 28.5rem;
  margin-top: 8rem;
  justify-content: center;
  grid-column-gap: 10px;

  @media (max-width: 600px) {
    align-items: center;
    margin-top: 10px;
  }

  &__item {
    width: 95%;
    height: 25rem;
    border-radius: 8px;
    text-overflow: ellipsis;
    justify-self: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1rem 2rem;
    background-color: #f4f6f5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    h2 {
      font-family: "Sora", sans-serif;
      font-weight: 600;
      text-align: center;
    }

    h4 {
      text-align: center;
      font-size: 1.4rem;
    }

    a,
    button {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.grid__item {
  &__wrapper-forks {
    gap: 2.5rem;
    display: flex;
  }
}
